<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<section xmlns="http://docbook.org/ns/docbook" version="5.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:id="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper" xml:lang="en-US">
<title>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper Class Reference</title>
<indexterm><primary>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</primary></indexterm>
Inheritance diagram for Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostaca9424c14d343bd5bb860d51f9bfbc4.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
Collaboration diagram for Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnost498546da90f5e18868606810b9cc68bc.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
<simplesect>
    <title>Public Member Functions    </title>
        <itemizedlist>
            <listitem><para>string <link linkend="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper_1a94ab209434955c8dea1769222f24dd44">Map</link> (byte decorationByte)</para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</listitem>
        </itemizedlist>
</simplesect>
<section>
<title>Detailed Description</title>
<para>
Definition at line <link linkend="__compiler_service_diagnostic_decoration_mapper_8cs_source_1l00006">6</link> of file <link linkend="__compiler_service_diagnostic_decoration_mapper_8cs_source">CompilerServiceDiagnosticDecorationMapper.cs</link>.</para>
</section>
<section>
<title>Member Function Documentation</title>
<anchor xml:id="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper_1a94ab209434955c8dea1769222f24dd44"/><section>
    <title>Map()</title>
<indexterm><primary>Map</primary><secondary>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</secondary></indexterm>
<indexterm><primary>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</primary><secondary>Map</secondary></indexterm>
<para><computeroutput>string Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper.Map (byte decorationByte)</computeroutput></para><para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</para>
<para>
Implements <link linkend="_interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</link>.</para>
<para>
Definition at line <link linkend="__compiler_service_diagnostic_decoration_mapper_8cs_source_1l00008">8</link> of file <link linkend="__compiler_service_diagnostic_decoration_mapper_8cs_source">CompilerServiceDiagnosticDecorationMapper.cs</link>.</para>
</section>
<para>
The documentation for this class was generated from the following file:</para>
Source/Lib/TextEditor/CompilerServices/<link linkend="__compiler_service_diagnostic_decoration_mapper_8cs">CompilerServiceDiagnosticDecorationMapper.cs</link></section>
</section>
