<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<section xmlns="http://docbook.org/ns/docbook" version="5.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:id="_class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper" xml:lang="en-US">
<title>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper Class Reference</title>
<indexterm><primary>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</primary></indexterm>
Inheritance diagram for Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper__inherit__graph.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
Collaboration diagram for Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper__coll__graph.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
<simplesect>
    <title>Public Member Functions    </title>
        <itemizedlist>
            <listitem><para>string <link linkend="_class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper_1acfac24a9b56f5a8ebfdb3c9a6f457800">Map</link> (byte decorationByte)</para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</listitem>
        </itemizedlist>
</simplesect>
<section>
<title>Detailed Description</title>
<para>
Definition at line <link linkend="__text_editor_css_decoration_mapper_8cs_source_1l00005">5</link> of file <link linkend="__text_editor_css_decoration_mapper_8cs_source">TextEditorCssDecorationMapper.cs</link>.</para>
</section>
<section>
<title>Member Function Documentation</title>
<anchor xml:id="_class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper_1acfac24a9b56f5a8ebfdb3c9a6f457800"/><section>
    <title>Map()</title>
<indexterm><primary>Map</primary><secondary>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</secondary></indexterm>
<indexterm><primary>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</primary><secondary>Map</secondary></indexterm>
<para><computeroutput>string Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper.Map (byte decorationByte)</computeroutput></para><para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</para>
<para>
Implements <link linkend="_interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</link>.</para>
<para>
Definition at line <link linkend="__text_editor_css_decoration_mapper_8cs_source_1l00007">7</link> of file <link linkend="__text_editor_css_decoration_mapper_8cs_source">TextEditorCssDecorationMapper.cs</link>.</para>
</section>
<para>
The documentation for this class was generated from the following file:</para>
Source/Lib/CompilerServices/Css/Decoration/<link linkend="__text_editor_css_decoration_mapper_8cs">TextEditorCssDecorationMapper.cs</link></section>
</section>
