<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<section xmlns="http://docbook.org/ns/docbook" version="5.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:id="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper" xml:lang="en-US">
<title>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper Class Reference</title>
<indexterm><primary>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</primary></indexterm>
<para>

<para>TODO: I copy and pasted <link linkend="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper">Diffs.Models.TextEditorDiffDecorationMapper</link>... ...to make this class. The decorations need to be made. I only implemented the highlighting itself for now, and pick the colors later.(2024-02-01). </para>
 
</para>
Inheritance diagram for Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_69d35b27d29ced245cbf6d7f794f382d.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
Collaboration diagram for Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper:<para>
    <informalfigure>
        <mediaobject>
            <imageobject>
                <imagedata width="50%" align="center" valign="middle" scalefit="0" fileref="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_793ef4300145117e500849926f535871.png"></imagedata>
            </imageobject>
        </mediaobject>
    </informalfigure>
</para>
<simplesect>
    <title>Public Member Functions    </title>
        <itemizedlist>
            <listitem><para>string <link linkend="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper_1a7164b8b2afe1d22042aa919e159c3826">Map</link> (byte decorationByte)</para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</listitem>
        </itemizedlist>
</simplesect>
<section>
<title>Detailed Description</title>

<para>TODO: I copy and pasted <link linkend="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper">Diffs.Models.TextEditorDiffDecorationMapper</link>... ...to make this class. The decorations need to be made. I only implemented the highlighting itself for now, and pick the colors later.(2024-02-01). </para>
<para>
Definition at line <link linkend="__find_overlay_decoration_mapper_8cs_source_1l00010">10</link> of file <link linkend="__find_overlay_decoration_mapper_8cs_source">FindOverlayDecorationMapper.cs</link>.</para>
</section>
<section>
<title>Member Function Documentation</title>
<anchor xml:id="_class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper_1a7164b8b2afe1d22042aa919e159c3826"/><section>
    <title>Map()</title>
<indexterm><primary>Map</primary><secondary>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</secondary></indexterm>
<indexterm><primary>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</primary><secondary>Map</secondary></indexterm>
<para><computeroutput>string Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper.Map (byte decorationByte)</computeroutput></para><para>

<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
</para>
<para>
Implements <link linkend="_interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</link>.</para>
<para>
Definition at line <link linkend="__find_overlay_decoration_mapper_8cs_source_1l00012">12</link> of file <link linkend="__find_overlay_decoration_mapper_8cs_source">FindOverlayDecorationMapper.cs</link>.</para>
</section>
<para>
The documentation for this class was generated from the following file:</para>
Source/Lib/TextEditor/TextEditors/Models/Internals/<link linkend="__find_overlay_decoration_mapper_8cs">FindOverlayDecorationMapper.cs</link></section>
</section>
