<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::TextEditor::RazorLib::CompilerServices::CompilerServiceDiagnosticDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper_1a94ab209434955c8dea1769222f24dd44" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/TextEditor/CompilerServices/CompilerServiceDiagnosticDecorationMapper.cs" line="8" column="19" bodyfile="Source/Lib/TextEditor/CompilerServices/CompilerServiceDiagnosticDecorationMapper.cs" bodystart="8" bodyend="22"/>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aea035c82a3feccac339974321f2468af77" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="6">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.DiagnosticError</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aeaac78950b4a644a2b172610dfd0d7ad4f" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="7">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.DiagnosticHint</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aeaaf9685526bb986c295a96a068052d4f7" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="10">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.DiagnosticOther</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aea68bf73e65806e0baf716ca50b39a9c66" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="8">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.DiagnosticSuggestion</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aea851aca5717fc7747db3a20a23e4e9402" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="9">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.DiagnosticWarning</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_enums_1a37ea1c6c1dede680be7ef301530957aea6adf97f83acf6453d4a6a4b1070f3754" compoundref="_compiler_service_diagnostic_decoration_kind_8cs" startline="5">Luthetus.TextEditor.RazorLib.CompilerServices.Enums.None</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/TextEditor/CompilerServices/CompilerServiceDiagnosticDecorationMapper.cs" line="6" column="7" bodyfile="Source/Lib/TextEditor/CompilerServices/CompilerServiceDiagnosticDecorationMapper.cs" bodystart="7" bodyend="23"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper_1a94ab209434955c8dea1769222f24dd44" prot="public" virt="non-virtual"><scope>Luthetus::TextEditor::RazorLib::CompilerServices::CompilerServiceDiagnosticDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
