<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::Ide::RazorLib::Terminals::Models::TerminalDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper_1a78622c979fd79f79d32568f697ef16cf" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/Ide/Ide.RazorLib/Terminals/Models/TerminalDecorationMapper.cs" line="7" column="19" bodyfile="Source/Lib/Ide/Ide.RazorLib/Terminals/Models/TerminalDecorationMapper.cs" bodystart="7" bodyend="22"/>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada0be8406951cdfda82f00f79328cf4efc" compoundref="_terminal_decoration_kind_8cs" startline="6">Luthetus.Ide.RazorLib.Terminals.Models.Comment</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada902b0d55fddef6f8d651fe1035b7d4bd" compoundref="_terminal_decoration_kind_8cs" startline="10">Luthetus.Ide.RazorLib.Terminals.Models.Error</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada220f3d3750583b9db48568a0b5b9a5f1" compoundref="_terminal_decoration_kind_8cs" startline="7">Luthetus.Ide.RazorLib.Terminals.Models.Keyword</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada6adf97f83acf6453d4a6a4b1070f3754" compoundref="_terminal_decoration_kind_8cs" startline="5">Luthetus.Ide.RazorLib.Terminals.Models.None</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada7029cff17180550e1214f19dba74a32a" compoundref="_terminal_decoration_kind_8cs" startline="8">Luthetus.Ide.RazorLib.Terminals.Models.StringLiteral</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada727f4d81d1e09f6ab2105e5fd6afbc1e" compoundref="_terminal_decoration_kind_8cs" startline="9">Luthetus.Ide.RazorLib.Terminals.Models.TargetFilePath</references>
        <references refid="namespace_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1a54fb2fbd9244e49d51bb0079361c85ada0eaadb4fcb48a0a0ed7bc9868be9fbaa" compoundref="_terminal_decoration_kind_8cs" startline="11">Luthetus.Ide.RazorLib.Terminals.Models.Warning</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper</label>
        <link refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper</label>
        <link refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/Ide/Ide.RazorLib/Terminals/Models/TerminalDecorationMapper.cs" line="5" column="7" bodyfile="Source/Lib/Ide/Ide.RazorLib/Terminals/Models/TerminalDecorationMapper.cs" bodystart="6" bodyend="23"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper_1a78622c979fd79f79d32568f697ef16cf" prot="public" virt="non-virtual"><scope>Luthetus::Ide::RazorLib::Terminals::Models::TerminalDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
