<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::TextEditor::RazorLib::TextEditors::Models::Internals::FindOverlayDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper_1a7164b8b2afe1d22042aa919e159c3826" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/TextEditor/TextEditors/Models/Internals/FindOverlayDecorationMapper.cs" line="12" column="19" bodyfile="Source/Lib/TextEditor/TextEditors/Models/Internals/FindOverlayDecorationMapper.cs" bodystart="12" bodyend="25"/>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1a733b35c261ccafa92c148d4342b12b5caa1998652b01bdc9e7128734efb804780" compoundref="_find_overlay_decoration_kind_8cs" startline="13">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.Deletion</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1a733b35c261ccafa92c148d4342b12b5ca3e8592679127932ad5203da071625c5d" compoundref="_find_overlay_decoration_kind_8cs" startline="12">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.Insertion</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1a733b35c261ccafa92c148d4342b12b5ca6771bf1b0e5acf3aa33da1e127523926" compoundref="_find_overlay_decoration_kind_8cs" startline="11">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.LongestCommonSubsequence</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1a733b35c261ccafa92c148d4342b12b5ca8af1f1c0895c6f9654aa578cfd0a3987" compoundref="_find_overlay_decoration_kind_8cs" startline="14">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.Modification</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1a733b35c261ccafa92c148d4342b12b5ca6adf97f83acf6453d4a6a4b1070f3754" compoundref="_find_overlay_decoration_kind_8cs" startline="10">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.None</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>TODO: I copy and pasted <ref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper" kindref="compound">Diffs.Models.TextEditorDiffDecorationMapper</ref>... ...to make this class. The decorations need to be made. I only implemented the highlighting itself for now, and pick the colors later.(2024-02-01). </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/TextEditor/TextEditors/Models/Internals/FindOverlayDecorationMapper.cs" line="10" column="7" bodyfile="Source/Lib/TextEditor/TextEditors/Models/Internals/FindOverlayDecorationMapper.cs" bodystart="11" bodyend="26"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper_1a7164b8b2afe1d22042aa919e159c3826" prot="public" virt="non-virtual"><scope>Luthetus::TextEditor::RazorLib::TextEditors::Models::Internals::FindOverlayDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
