<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::TextEditor::RazorLib::Diffs::Models::TextEditorDiffDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper_1a30f912e02268dc3ee1613acbdf46d915" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/TextEditor/Diffs/Models/TextEditorDiffDecorationMapper.cs" line="7" column="19" bodyfile="Source/Lib/TextEditor/Diffs/Models/TextEditorDiffDecorationMapper.cs" bodystart="7" bodyend="21"/>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3aa1998652b01bdc9e7128734efb804780" compoundref="_text_editor_diff_decoration_kind_8cs" startline="9">Luthetus.TextEditor.RazorLib.Diffs.Models.Deletion</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3a3e8592679127932ad5203da071625c5d" compoundref="_text_editor_diff_decoration_kind_8cs" startline="7">Luthetus.TextEditor.RazorLib.Diffs.Models.Insertion</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3a3c90e97b9d62ef31e319a353d329b9e3" compoundref="_text_editor_diff_decoration_kind_8cs" startline="8">Luthetus.TextEditor.RazorLib.Diffs.Models.InsertionLine</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3a6771bf1b0e5acf3aa33da1e127523926" compoundref="_text_editor_diff_decoration_kind_8cs" startline="6">Luthetus.TextEditor.RazorLib.Diffs.Models.LongestCommonSubsequence</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3a8af1f1c0895c6f9654aa578cfd0a3987" compoundref="_text_editor_diff_decoration_kind_8cs" startline="10">Luthetus.TextEditor.RazorLib.Diffs.Models.Modification</references>
        <references refid="namespace_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1aec0409c8bf45dcf893e3cf2eea0f57d3a6adf97f83acf6453d4a6a4b1070f3754" compoundref="_text_editor_diff_decoration_kind_8cs" startline="5">Luthetus.TextEditor.RazorLib.Diffs.Models.None</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/TextEditor/Diffs/Models/TextEditorDiffDecorationMapper.cs" line="5" column="7" bodyfile="Source/Lib/TextEditor/Diffs/Models/TextEditorDiffDecorationMapper.cs" bodystart="6" bodyend="22"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper_1a30f912e02268dc3ee1613acbdf46d915" prot="public" virt="non-virtual"><scope>Luthetus::TextEditor::RazorLib::Diffs::Models::TextEditorDiffDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
