<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::CompilerServices::Json::Decoration::TextEditorJsonDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper_1a6dac1cb7895d2f036eea7839b9eef928" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/CompilerServices/Json/Decoration/TextEditorJsonDecorationMapper.cs" line="7" column="19" bodyfile="Source/Lib/CompilerServices/Json/Decoration/TextEditorJsonDecorationMapper.cs" bodystart="7" bodyend="26"/>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a1e9f3f3d9dd9eadb4a19b070d420f161" compoundref="_json_decoration_kind_8cs" startline="12">Luthetus.CompilerServices.Json.Decoration.BlockComment</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a0945359809dad1fbf3dea1c95a0da951" compoundref="_json_decoration_kind_8cs" startline="13">Luthetus.CompilerServices.Json.Decoration.Document</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a902b0d55fddef6f8d651fe1035b7d4bd" compoundref="_json_decoration_kind_8cs" startline="14">Luthetus.CompilerServices.Json.Decoration.Error</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1aa0faef0851b4294c06f2b94bb1cb2044" compoundref="_json_decoration_kind_8cs" startline="9">Luthetus.CompilerServices.Json.Decoration.Integer</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a220f3d3750583b9db48568a0b5b9a5f1" compoundref="_json_decoration_kind_8cs" startline="10">Luthetus.CompilerServices.Json.Decoration.Keyword</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1ada2a377b6ffa23c0936e1031e218410d" compoundref="_json_decoration_kind_8cs" startline="11">Luthetus.CompilerServices.Json.Decoration.LineComment</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a6adf97f83acf6453d4a6a4b1070f3754" compoundref="_json_decoration_kind_8cs" startline="5">Luthetus.CompilerServices.Json.Decoration.None</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1abbb93ef26e3c101ff11cdd21cab08a94" compoundref="_json_decoration_kind_8cs" startline="15">Luthetus.CompilerServices.Json.Decoration.Null</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1ab2ee912b91d69b435159c7c3f6df7f5f" compoundref="_json_decoration_kind_8cs" startline="8">Luthetus.CompilerServices.Json.Decoration.Number</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1ac5a9f8cd8c7b7778ae43586f64499078" compoundref="_json_decoration_kind_8cs" startline="6">Luthetus.CompilerServices.Json.Decoration.PropertyKey</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1a271993980e1d4e44358084e5131730d1a27118326006d3829667a400ad23d5d98" compoundref="_json_decoration_kind_8cs" startline="7">Luthetus.CompilerServices.Json.Decoration.String</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/CompilerServices/Json/Decoration/TextEditorJsonDecorationMapper.cs" line="5" column="7" bodyfile="Source/Lib/CompilerServices/Json/Decoration/TextEditorJsonDecorationMapper.cs" bodystart="6" bodyend="27"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper_1a6dac1cb7895d2f036eea7839b9eef928" prot="public" virt="non-virtual"><scope>Luthetus::CompilerServices::Json::Decoration::TextEditorJsonDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
