<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper" kind="class" language="C#" prot="public">
    <compoundname>Luthetus::CompilerServices::Css::Decoration::TextEditorCssDecorationMapper</compoundname>
    <basecompoundref refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</basecompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper_1acfac24a9b56f5a8ebfdb3c9a6f457800" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper.Map</qualifiedname>
        <reimplements refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943">Map</reimplements>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/CompilerServices/Css/Decoration/TextEditorCssDecorationMapper.cs" line="7" column="19" bodyfile="Source/Lib/CompilerServices/Css/Decoration/TextEditorCssDecorationMapper.cs" bodystart="7" bodyend="20"/>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1adad453cad3911ba43182c46b82845e68a0be8406951cdfda82f00f79328cf4efc" compoundref="_css_decoration_kind_8cs" startline="7">Luthetus.CompilerServices.Css.Decoration.Comment</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1adad453cad3911ba43182c46b82845e68a29ee5d1ebcc033234938a5234f1f2075" compoundref="_css_decoration_kind_8cs" startline="11">Luthetus.CompilerServices.Css.Decoration.Identifier</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1adad453cad3911ba43182c46b82845e68a6adf97f83acf6453d4a6a4b1070f3754" compoundref="_css_decoration_kind_8cs" startline="5">Luthetus.CompilerServices.Css.Decoration.None</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1adad453cad3911ba43182c46b82845e68a0c7a70fe1a1717fc7c61a4621daa144d" compoundref="_css_decoration_kind_8cs" startline="8">Luthetus.CompilerServices.Css.Decoration.PropertyName</references>
        <references refid="namespace_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1adad453cad3911ba43182c46b82845e68af4ce278cfa05075e75b726706e06ef3d" compoundref="_css_decoration_kind_8cs" startline="9">Luthetus.CompilerServices.Css.Decoration.PropertyValue</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
    </collaborationgraph>
    <location file="Source/Lib/CompilerServices/Css/Decoration/TextEditorCssDecorationMapper.cs" line="5" column="7" bodyfile="Source/Lib/CompilerServices/Css/Decoration/TextEditorCssDecorationMapper.cs" bodystart="6" bodyend="21"/>
    <listofallmembers>
      <member refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper_1acfac24a9b56f5a8ebfdb3c9a6f457800" prot="public" virt="non-virtual"><scope>Luthetus::CompilerServices::Css::Decoration::TextEditorCssDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
