<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper" kind="interface" language="C#" prot="public">
    <compoundname>Luthetus::TextEditor::RazorLib::Decorations::Models::IDecorationMapper</compoundname>
    <derivedcompoundref refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper" prot="public" virt="non-virtual">Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper" prot="public" virt="non-virtual">Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_compiler_services_1_1_xml_1_1_html_1_1_decoration_1_1_text_editor_html_decoration_mapper" prot="public" virt="non-virtual">Luthetus.CompilerServices.Xml.Html.Decoration.TextEditorHtmlDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper" prot="public" virt="non-virtual">Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_generic_lexer_1_1_decorat78ccafb1ce12678be58e76a7e584cb2d" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.CompilerServices.GenericLexer.Decoration.GenericDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_text_editor_decoration_mapper_default" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Decorations.Models.TextEditorDecorationMapperDefault</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</derivedcompoundref>
    <derivedcompoundref refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_text_0db4c367221453353e867ce1036d69e2" prot="public" virt="non-virtual">Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.TextEditorDevToolsDecorationMapper</derivedcompoundref>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>string</type>
        <definition>string Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper.Map</definition>
        <argsstring>(byte decorationByte)</argsstring>
        <name>Map</name>
        <qualifiedname>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper.Map</qualifiedname>
        <reimplementedby refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper_1acfac24a9b56f5a8ebfdb3c9a6f457800">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper_1a6dac1cb7895d2f036eea7839b9eef928">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_compiler_services_1_1_xml_1_1_html_1_1_decoration_1_1_text_editor_html_decoration_mapper_1a617449dea61e7e45d746cf458de000d9">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper_1a78622c979fd79f79d32568f697ef16cf">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper_1a94ab209434955c8dea1769222f24dd44">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_generic_lexer_1_1_decorat78ccafb1ce12678be58e76a7e584cb2d_1a516f5156dbb908e39007fb85c4e2c843">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_text_editor_decoration_mapper_default_1ac99fe27a364b3a3d8b9fdaf676078f81">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper_1a30f912e02268dc3ee1613acbdf46d915">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper_1a7164b8b2afe1d22042aa919e159c3826">Map</reimplementedby>
        <reimplementedby refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_text_0db4c367221453353e867ce1036d69e2_1a5139ba2c5d9c7fcb1d75b107e1c0041f">Map</reimplementedby>
        <param>
          <type>byte</type>
          <declname>decorationByte</declname>
        </param>
        <briefdescription>
<para>Maps a decorationByte to a CSS class that is in the form of a string. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="Source/Lib/TextEditor/Decorations/Models/IDecorationMapper.cs" line="8" column="19"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.IDecorationMapper</label>
        <link refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper"/>
      </node>
      <node id="2">
        <label>Luthetus.CompilerServices.Css.Decoration.TextEditorCssDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_css_1_1_decoration_1_1_text_editor_css_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="3">
        <label>Luthetus.CompilerServices.Json.Decoration.TextEditorJsonDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_json_1_1_decoration_1_1_text_editor_json_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="4">
        <label>Luthetus.CompilerServices.Xml.Html.Decoration.TextEditorHtmlDecorationMapper</label>
        <link refid="class_luthetus_1_1_compiler_services_1_1_xml_1_1_html_1_1_decoration_1_1_text_editor_html_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="5">
        <label>Luthetus.Ide.RazorLib.Terminals.Models.TerminalDecorationMapper</label>
        <link refid="class_luthetus_1_1_ide_1_1_razor_lib_1_1_terminals_1_1_models_1_1_terminal_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="6">
        <label>Luthetus.TextEditor.RazorLib.CompilerServices.CompilerServiceDiagnosticDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_compiler_service_diagnostic_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="7">
        <label>Luthetus.TextEditor.RazorLib.CompilerServices.GenericLexer.Decoration.GenericDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_compiler_services_1_1_generic_lexer_1_1_decorat78ccafb1ce12678be58e76a7e584cb2d"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="8">
        <label>Luthetus.TextEditor.RazorLib.Decorations.Models.TextEditorDecorationMapperDefault</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_text_editor_decoration_mapper_default"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="9">
        <label>Luthetus.TextEditor.RazorLib.Diffs.Models.TextEditorDiffDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_diffs_1_1_models_1_1_text_editor_diff_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="10">
        <label>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.FindOverlayDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_find_overlay_decoration_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="11">
        <label>Luthetus.TextEditor.RazorLib.TextEditors.Models.Internals.TextEditorDevToolsDecorationMapper</label>
        <link refid="class_luthetus_1_1_text_editor_1_1_razor_lib_1_1_text_editors_1_1_models_1_1_internals_1_1_text_0db4c367221453353e867ce1036d69e2"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <location file="Source/Lib/TextEditor/Decorations/Models/IDecorationMapper.cs" line="3" column="18" bodyfile="Source/Lib/TextEditor/Decorations/Models/IDecorationMapper.cs" bodystart="4" bodyend="9"/>
    <listofallmembers>
      <member refid="interface_luthetus_1_1_text_editor_1_1_razor_lib_1_1_decorations_1_1_models_1_1_i_decoration_mapper_1a9d3ab50d8da1de064c588b8e10b09943" prot="public" virt="non-virtual"><scope>Luthetus::TextEditor::RazorLib::Decorations::Models::IDecorationMapper</scope><name>Map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
